{%- capture content -%}
The EDA's mission is protect Ethereum from centralization and risk vectors through:

- Collaboration: As the saying goes, "it takes a village to raise a child". We aim to bring together individuals, projects, and organizations from across the ecosystem to promote positive change as a united front. 
- Education: Knowledge about decentralization pitfalls and their common causes is important to prevent the community at large from falling into them. This is our first (and possibly best) defense against risk vectors.
- Governance: Project governance can have inluential effects on the rest of the network. The EDA contains delegates from key projects who will prioritize and advocate for chain health.
- Monitoring: We are developing tools and resources to actively monitor threats to Ethereum's decentralization to catch issues early.
- Change: Once a threat has been identified, we look to spread awareness to the broader Ethereum community for swift course correction.

Our shared values:

- Permissionless: Anyone should be able to participate without permission from a 3rd party.
- Decentralized: Power and control should be well distributed to minimize dependence on any single software or entity.
- Censorship Resistant: Users and applications should be free from arbitrary censorship.
- Open Source: Software should be free, open, shared, and auditable.
- Credibly Neutral: Base-layer infrastructure should be neutral.
- Trustless: Critical software should be trustless.
- Secure: User security and safety should be a priority.
{%- endcapture -%}

{% include components/details.html
  title="About"
  body=content
%}

