Jump to section:
- [View Delegates](#view-delegates)
- [Set Delegates](#set-delegates)
- [Change Delegates](#change-delegates)

<br>

# View Delegates

**On Tally**

There's 2 ways:

1. From a DAO's main page, you can select "My Voting Power" to see your delegation status
2. From your personal profile, you can click each of the DAOs you're a member of and your delegation status will be listed at the top.

For more details (and screenshots):
<https://docs.tally.xyz/knowledge-base/delegations-on-tally/delegating-voting-power>


**On Snapshot**

From a DAO's main page, select "Delegates" from the sidebar to see who you delegated to.

---

# Set Delegates

**On Tally**

There's 2 ways:

1. From a DAO's main page, scroll down to the "Trending Delegates" section and select "Explore all delegates". When you find an account you'd like to delegate to, select the "Delegate" button.
1. If you already know who you want to delegate to, from a DAO's main page select "My Voting Power". From here select "Update Delegation" then "Someone else" and enter the account's address.


**On Snapshot**

From a DAO's main page, select "Delegates" from the sidebar and enter who you'd like to delegate to. This will automatically overwrite any previous delegation.

---

# Change Delegates

**On Tally**

There's 2 ways:

1. From a DAO's main page, scroll down to the "Trending Delegates" section and select "Explore all delegates". When you find an account you'd like to delegate to, select the "Delegate" button.
1. If you already know who you want to delegate to, from a DAO's main page select "My Voting Power". From here select "Update Delegation" then "Someone else" and enter the account's address.


**On Snapshot**

From a DAO's main page, select "Delegates" from the sidebar and enter who you'd like to delegate to. This will automatically overwrite any previous delegation.

---
